@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.font-patrick-hand {
  font-family: "Patrick Hand", cursive;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-pane {
  z-index: 0 !important;
}

.leaflet-control,
.leaflet-top,
.leaflet-bottom {
  z-index: 1 !important;
}

div.home {
  -webkit-animation: AnimatedBackground 30s ease infinite;
  -moz-animation: AnimatedBackground 30s ease infinite;
  animation: AnimatedBackground 30s ease infinite;
  background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 300% 300%;
}

@-webkit-keyframes AnimatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.place-description > * {
  @apply mb-4;
}

.place-description h1 {
  @apply text-3xl;
}

.place-description h2 {
  @apply text-2xl;
}

.place-description ul,
.place-description ol {
  @apply list-outside;
  @apply ml-4;
}

.place-description ul ul,
.place-description ol ul,
.place-description ol ul,
.place-description ul ol {
  @apply list-outside;
  @apply ml-8;
}

.place-description ul {
  @apply list-disc;
}

.place-description ol {
  @apply list-decimal;
}

.place-description li {
  @apply mb-2;
}
